<div class="col col-md-3" data-loaded="false">
    <div class="card shadow  c55 position-relative id-cardholder" data-group="" data-bridge="" data-groupname="">
        <div class="card-header">
            <span class="automatic text-muted"></span>
            <div class="float-start">
                <strong class="id-name"></strong>
            </div>
            <div class="float-end sensors id-sensors"></div>                
        </div>
        <div class="card-body text-center">
            &nbsp;
        </div>        
        <div class="btn-group btn-group-lg">
            <button class="btn btn-lg id-status" type="button" data-group="" data-switchgroup="" data-bridge="" data-groupname="">
                <i class="fa fa-eye-slash"></i>
            </button>
            <button class="btn btn-lg c56 id-settings" data-roomsetting="true" data-settinggroup="" data-bridge="" data-bs-target="#switchwrapper" data-bs-slide-to="7">
                <i class="fa fa-cog"></i>
            </button>
        </div>
    </div>
</div>