<div class="col col-md-4" data-loaded="false">
    <div class="card shadow  c55 position-relative id-powerholder" data-powerid="">
        <div class="card-header">
            <span class="automatic text-muted"></span>
            <div class="float-start">
                <strong class="id-name"></strong>
            </div>              
        </div>
        <div class="card-body text-center">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th>Verbrauch</th>
                        <th>Leistung</th>
                        <th>Voltage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="current"></span> mA
                        </td>
                        <td>
                            <span class="power"></span> Watt
                        </td>
                        <td>
                            <span class="voltage"></span> V
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>