<div class="col col-md-12" data-loaded="false">
    <div class="card shadow  c55 position-relative id-room" data-group="" data-bridge="" data-groupname="">
        <div class="card-header">
            <span class="automatic text-muted"></span>
            <div class="float-start">
                <button class="btn btn-block c56" data-bs-target="#switchwrapper" data-bs-slide-to="0">
                <i class="fa fa-arrow-circle-left"></i> Zurück
            </button> <strong class="id-name"></strong>
            </div>              
        </div>
        <div class="card-body text-center">
            <div class="row">
                <div class="col col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <strong>Szenen</strong>
                        </div>
                        <div class="card-body btn-group-vertical" id="group-scenes">
                        </div>     
                    </div>
                </div>                
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Gerät</th>
                                        <th>Aktion</th>
                                    </tr>
                                </thead>
                                <tbody id="device-body">
                                    
                                </tbody>
                            </table>
                        </div>                                              
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Sensor</th>
                                        <th>Wert</th>
                                    </tr>
                                </thead>
                                <tbody id="gsetting-sensors">

                                </tbody>
                            </table>               
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Sensor</th>
                                        <th>Modus</th>
                                        <th>Wert</th>
                                        <th>Ziel</th>
                                        <th>Zeit</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="gsetting-automatics">

                                </tbody>
                            </table>               
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>