<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet"> 
        <link href="/lcars/css/lcars-tng-legacy-2.min.css" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">        
        <link href="/css/custom.css" rel="stylesheet">
        <link href="/fa/css/all.css" rel="stylesheet">   
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="ng-app-embedded"><div ui-view class="microsite embedded-radio-player" data-playerwidth="340px" data-playertype="web_embedded" data-playstation="1live" data-autoplay="false" data-apikey="df04ff67dd3339a6fc19c9b8be164d5b5245ae93"></div></div>
                </div>
                <div class="col-md-3">
                    <div class="ng-app-embedded"><div ui-view class="microsite embedded-radio-player" data-playerwidth="340px" data-playertype="web_embedded" data-playstation="housetimefm" data-autoplay="false" data-apikey="df04ff67dd3339a6fc19c9b8be164d5b5245ae93"></div></div>
                </div>
                <div class="col-md-3">
                    <div class="ng-app-embedded"><div ui-view class="microsite embedded-radio-player" data-playerwidth="340px" data-playertype="web_embedded" data-playstation="bigfm" data-autoplay="false" data-apikey="df04ff67dd3339a6fc19c9b8be164d5b5245ae93"></div></div>
                </div>
                <div class="col-md-3">
                    <div class="ng-app-embedded"><div ui-view class="microsite embedded-radio-player" data-playerwidth="340px" data-playertype="web_embedded" data-playstation="kissfm" data-autoplay="false" data-apikey="df04ff67dd3339a6fc19c9b8be164d5b5245ae93"></div></div>
                </div>
            </div>
        </div>

        <script type="text/javascript" async="true" id="radio-de-embedded" src="https://www.radio.net/inc/microsite/js/full.js"></script>
    </body>
</html>