<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Light-a-mation</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">
        <link href="/fa/css/all.css" rel="stylesheet">
    </head>
    <body>
        
        <canvas id="canvas">Canvas not supported.</canvas>
        {% block body %}{% endblock %}
        
        <script src="/js/bootstrap.bundle.min.js" ></script>
        <script src="/js/jquery.min.js" ></script>
        <script src="/js/Main.js" ></script>
        <script src="/js/background.js" ></script>
    </body>
</html>
